@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Ubuntu:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* index.html */

body {
    background: url(/assets/images/bg_img.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Graduate", sans-serif;
    z-index: -1;
    height: 100vh;
}

.header {
    color: #EAFDF8;
    text-shadow: 2px;
    font-size: 25px;
}

.main-title-container {
    height: 300px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.main-menu-button {
    background-color: #084B83;
    color: #EAFDF8;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    position: absolute;
}

.modal-header {
    color: #084B83; 
}

.main-menu-container {
    font-size: 20px;
    height: 400px;
    padding-bottom: 10px;
}

.menu-button {
    color: #EAFDF8;
    border-color: #EAFDF8;
    padding: 10px;
    margin: 10px;
}

.menu-button:hover {
    color: #E2C044;
}

.exit-button {
    color: #084B83;
}

.exit-button:hover {
    color: #6C0E23;
}

.main-menu-icon {
    height: 25px;
    width: 25px;
}

.modal-body {
    background-color: #084B83;
    color: #EAFDF8;
    text-align: center;
    padding: 12px;
}
.modal-body > ul {
    list-style: none;
    padding: 10px;
}

/* game.html */ 


.game-title-container {
    color: #EAFDF8;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}


.game-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.exit-button {
    color: #6C0E23;
    background-color: #EAFDF8;
    border-radius: 10%;
    width: 80px;
    height: 40px;
    text-align: center;
}

.flip-counter p,
.time-counter p {
    font-size: 20px;
    color: #6C0E23;
    text-align: center;
    margin-top: 8px;
    background-color: #EAFDF8;
    border: 2px solid #6C0E23;
    border-radius: 5px;
}

.game-mode-easy {
    position: absolute;
    top: 150px;
    max-width: 780px;
    bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.game-mode-medium {
    position: absolute;
    top: 150px;
    max-width: 1100px;
    bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}


/* Image styling for cards */ 

.watch {
    background-image: url("/assets/_stopwatch.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}


.boot {
    background-image: url("/assets/images/boot.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.shoot {
    background-image: url("/assets/images/shoot.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.cards {
    background-image: url("/assets/images/cards.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tactics {
    background-image: url("/assets/images/tactics.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.corner {
    background-image: url("/assets/images/corner.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.flag {
    background-image: url("/assets/images/flag.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.gloves {
    background-image: url("assets/images/gloves.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.goal {
    background-image: url("/assets/images/goal.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.jersey {
    background-image: url("assets/images/jersey.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.medal {
    background-image: url("/assets/images/medal.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.trophy {
    background-image: url("assets/images/trophy.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.whistle {
    background-image: url("/assets/images/whistle.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.pitch {
    background-image: url("/assets/images/pitch.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.score {
    background-image: url("/assets/images/score.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

/* Add Media Query for small screens */

@media (max-width: 445px) { 
    .watch {
        background-image: url("/assets/_stopwatch.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    
    .boot {
        background-image: url("/assets/images/boot.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .shoot {
        background-image: url("/assets/images/shoot.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .cards {
        background-image: url("/assets/images/cards.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .tactics {
        background-image: url("/assets/images/tactics.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .corner {
        background-image: url("/assets/images/corner.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .flag {
        background-image: url("/assets/images/flag.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .gloves {
        background-image: url("assets/images/gloves.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .goal {
        background-image: url("/assets/images/goal.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .jersey {
        background-image: url("assets/images/jersey.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .medal {
        background-image: url("/assets/images/medal.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .trophy {
        background-image: url("assets/images/trophy.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .whistle {
        background-image: url("/assets/images/whistle.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .pitch {
        background-image: url("/assets/images/pitch.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .score {
        background-image: url("/assets/images/score.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
 

}