@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Ubuntu:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    background: url(/assets/images/bg_img.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Graduate", sans-serif;
    z-index: -1;
}

header {
    color: #EAFDF8;
    text-shadow: 2px;
}

.main-title-container {
    height: 300px;
    font-size: 50px;
}

.main-menu-button {
    background-color: #084B83;
    color: #EAFDF8;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    position: absolute;
}

.main-menu-container {
    font-size: 20px;
    height: 40px;
    padding-bottom: 10px;
}

#main-menu-modal {
    border-radius: 20px;
    
}

.main-menu-icon {
    height: 20px;
    width: 20px;
}

.modal-content {
    position: absolute;
}

.modal-body {
    justify-content: center;
    text-align: center;
}
.modal-body > ul {
    list-style: none;
}