@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Ubuntu:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* index.html */

body {
    background: url(/assets/images/bg_img.jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Graduate", sans-serif;
    height: 100vh;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header {
    color: #EAFDF8;
    font-size: 45px;
}

.header {
    color: #EAFDF8;
    font-size: 25px;
}

.main-title-container {
    height: 300px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px; 
}

.main-menu-button {
    background-color: #084B83;
    color: #EAFDF8;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    position: absolute;
}

.modal-header {
    color: #084B83; 
}

.main-menu-container {
    font-size: 20px;
    height: 400px;
    padding-bottom: 10px;
}

.menu-button {
    color: #EAFDF8;
    border-color: #EAFDF8;
    padding: 10px;
    margin: 10px;
}

.menu-button:hover {
    color: #E2C044;
}


.exit-button:hover {
    color: #6C0E23;
}

.main-menu-icon {
    height: 25px;
    width: 25px;
}

.modal-body {
    background-color: #084B83;
    color: #EAFDF8;
    text-align: center;
    padding: 12px;
}
.modal-body > ul {
    list-style: none;
    padding: 10px;
}


footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 0.5rem;
    background: #084B83;
    height: 7vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #EAFDF8;
  }
  i {
      color: #EAFDF8;
      font-size: 20px;
  }

/* game.html Styling */ 


.game-title-container {
    color: #EAFDF8;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}


.game-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.exit-button {
    color: #6C0E23;
    background-color: #EAFDF8;
    border-radius: 10%;
    text-align: center;
}

.flip-counter p,
.time-counter p {
    font-size: 20px;
    color: #6C0E23;
    text-align: center;
    margin-top: 8px;
    background-color: #EAFDF8;
    border: 2px solid #6C0E23;
    border-radius: 5px;
}


/* will be called by the JS to alter game board depending on difficulty chosen */
.game-mode-easy {
    position: absolute;
    top: 200px;
    max-width: 780px;
    bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.game-mode-medium {
    position: absolute;
    top: 200px;
    max-width: 1100px;
    bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

@media (max-width: 445px) { 
    .game-mode-medium {
        position: absolute;
        top: 200px;
        max-width: 1100px;
        bottom: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-perspective: 1000px;
                perspective: 1000px;
    }
    }
    
    .game-mode-hard {
        position: absolute;
        top: 200px;
        max-width: 900px;
        bottom: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-perspective: 1000px;
                perspective: 1000px;
    }

    .cards {
        position: relative;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;
    }

    .cardFront { 
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background-color: #EAFDF8;
        border: 2px solid #E2C044;
        border-radius: 10px;
    }

    .cardBack {
        background-image: url("../images/ball.png");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #EAFDF8;
        border: 2px solid #E2C044;
        border-radius: 10px;
    }

    .cardFront, 
    .cardBack {
        height: 90%;
        width: 90%;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden; 
        position: absolute;
    }
    

    /* flip class which is targeted in the game.js file */ 
    .cards.flip {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    
/* Image styling for cards - altered code from https://github.com/David-A-Ray */ 

.watch {
    background-image: url("/assets/images/_stopwatch.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}


.boot {
    background-image: url("../images/boot.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.shoot {
    background-image: url("../images/shoot.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.referee-cards {
    background-image: url("../images/cards.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.tactics {
    background-image: url("../images/tactics.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.corner {
    background-image: url("../images/corner.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.flag {
    background-image: url("../images/flag.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.gloves {
    background-image: url("../images/gloves.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.goal {
    background-image: url("../images/goal.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.jersey {
    background-image: url("../images/jersey.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.medal {
    background-image: url("../images/medal.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.trophy {
    background-image: url("../images/trophy.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.whistle {
    background-image: url("../images/whistle.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.pitch {
    background-image: url("../images/pitch.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.score {
    background-image: url("../images/score.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

/* Add Media Query for small screens */

@media (max-width: 445px) { 
    .watch {
        background-image: url("../images/_stopwatch.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    
    .boot {
        background-image: url("../images/boot.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .shoot {
        background-image: url("../images/shoot.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .referee-cards {
        background-image: url("../images/cards.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .tactics {
        background-image: url("../images/tactics.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .corner {
        background-image: url("../images/corner.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .flag {
        background-image: url("../images/flag.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .gloves {
        background-image: url("../images/gloves.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .goal {
        background-image: url("../images/goal.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .jersey {
        background-image: url("../images/jersey.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .medal {
        background-image: url("../images/medal.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .trophy {
        background-image: url("../images/trophy.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .whistle {
        background-image: url("../images/whistle.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .pitch {
        background-image: url("../images/pitch.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
    
    .score {
        background-image: url("../images/score.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
}